.header {
    border-radius: 4px;
    padding: 4px;
}

.navigation {
    background-color: rgb(59, 63, 63);
}

.navigation ul {
    display: flex;
    list-style: none;
}

.navigation ul a {
    padding: .75em 1.5em;
    display: inline-block;
}

.navigation a:hover {
    text-decoration: underline;
    color: rgb(211, 198, 224);
}